/* SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 1440px;
  margin: 2rem;
}

/* REUSEABLE */
.links a,
.des {
  line-height: 1.55;
  letter-spacing: 0.5px;
  color: hsl(236, 13%, 42%);
}
a {
  text-decoration: none;
}

/* LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 1.1fr 0.9fr;
}

/* NAV */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.main-nav {
  display: flex;
}
.main-link {
  list-style: none;
  display: flex;
  gap: 50px;
}

/* MAIN CONTENT */
.a-main {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  max-width: 1010px;
  overflow: hidden;
}
.a-main img {
  grid-column: 1 / 3;
  max-width: 100%;
  display: block;
}
picture {
  display: block;
  max-width: 95%;
  grid-column: 1 / 3;
}

.title {
  grid-row: 2 / 3;
  font-size: 4rem;
  margin: 40px 60px 0 0;
  font-weight: 800;
}
.pre {
  margin-top: 45px;
  display: flex;
  gap: 75px;
  flex-direction: column;
  max-width: 450px;
}
.read-more {
  padding: 20px 45px;
  letter-spacing: 5px;
  font-weight: 700;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
}
.read-more:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

/* SIDE CONTENT */
.a-side {
  color: hsl(233, 8%, 79%);
  background-color: hsl(240, 100%, 5%);
  max-width: 445px;
  padding: 30px;
  grid-column: 3 / 4;
}
.sub-title {
  color: hsl(35, 77%, 62%);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 5px;
}
.a-title {
  margin: 35px 0 10px 0;
  font-size: 1.5rem;
}
.a-link:hover {
  color: hsl(35, 77%, 62%);
}
.a-link {
  color: hsl(36, 100%, 99%);
}
.a-des {
  margin-bottom: 45px;
  line-height: 1.55;
  letter-spacing: 0.5px;
}
hr {
  border-color: hsl(233, 8%, 79%);
}

/* BOTTOM CONTENT */
.a-bottom {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}
.a-bottom img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.num {
  color: hsl(233, 8%, 79%);
  font-size: 2.5rem;
  margin-bottom: 17px;
}
.a2-title {
  font-size: 1.35rem;
  margin-bottom: 15px;
}
.a2-title a {
  color: black;
}
.links a:hover,
.a2-title a:hover {
  color: hsl(5, 85%, 63%);
}

/* FOOTER */
.attribution {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.hamburger,
.mobile-nav {
  display: none;
}

/* RESPONSIVE LAYOUT QUERIES */
@media only screen and (max-width: 1250px) {
  .a-main {
    grid-column: 1 / 4;
    max-width: 100%;
  }
  .a-main picture {
    min-width: 100%;
  }
  .a-side {
    grid-column: 1 / 4;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .a-bottom {
    margin-top: 30px;
    grid-column: 1 / 4;
  }
}
@media only screen and (max-width: 875px) {
  main {
    grid-template-columns: 1fr;
  }
  .a-main {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  .a-main picture {
    min-width: 100%;
  }
  body {
    font-size: 1rem;
  }
  .wrapper {
    min-width: 375px;
  }
  .pre {
    gap: 50px;
    margin: 30px 0 30px 0;
  }
  .sub-title,
  .title {
    font-size: 2.75rem;
  }
  .a2-title,
  .a-title {
    font-size: 1.35rem;
  }
  .read-more {
    font-size: 0.85rem;
    padding: 15px 30px;
  }
  .links {
    gap: 20px;
  }
}
@media only screen and (max-width: 550px) {
  picture,
  .a-side,
  .a-bottom,
  .a-main,
  .wrapper {
    max-width: 375px;
    min-width: 320px;
  }
  .a-bottom img {
    max-width: 125px;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
  }
  .title,
  .num,
  .sub-title {
    font-size: 2rem;
  }
  .a-link,
  .a2-title {
    font-size: 1.15rem;
  }
  .main-nav {
    display: none;
  }

  /* HAMBURGER MENU */
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
  }
  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    color: black;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: 98;
    padding-top: 120px;
    padding-left: 20px;
    background-color: white;
    transition: 0.4s;
  }
  .mobile-nav.is-active {
    left: 0;
  }
  .mobile-nav a {
    display: block;
    text-align: center;
    margin: 0 auto 16px;
    width: 100%;
    max-width: 200px;
    padding: 12px 16px;
  }
  .mobile-nav li {
    list-style: none;
    display: inline;
  }
  .logo {
    z-index: 99;
  }
}
